<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vaishali's Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>

<body>
    <div class="container">
        <div class="container__left">
            <div class="accuracy-wrapper">
                <p class="accuracy">85%</p>
                <p class="accuracy-text">
                    accuracy is achieved using K Neighbors Classifier. This can be further improved by adding more data
                    into the
                    algorithm.
                </p>
            </div>
            <img alt="background" src="{{ url_for('static', filename='images/bg.png') }}" />
        </div>
        <div class="container__right">
            <form action="/predict" method="post" autocomplete="off" class="form">
                <h1 class="title">
                    Early Diabetes-classification Using ML.
                </h1>
                <h2 class="subtitle">
                    Please Enter the fields below to check whether you are likely to
                    be Diabetic or Non-Diabetic in future.
                </h2>
                <input type="number" name="Pregnancies" placeholder="No. of Pregnancies (eg:- 1,2,3...etc)" min="0"
                    required />
                <input type="number" name="Glucose" placeholder="Avergae Blood Glucose level (in mmol/L)" required
                    min="0" />
                <input type="number" name="BloodPressure" placeholder="Avergae Blood Pressure (in mmHg)" min="0"
                    required />
                <input type="number" name="BMI" placeholder="BMI (Body Mass Index (in digits))" min="0" required />
                <input type="number" name="Diabetes Pedigree Function " placeholder="Diabetes Pedigree Function (0-1)"
                    min="0" required />
                <input type="number" name="Age" placeholder="Age (in digits))" min="0" required />
                <div class="button-and-result-wrapper">
                    <button type="submit">Predict</button>
                    <p id="output">{{pred}}</p>
                </div>
            </form>

            <hr class="line" />

            <p class="footer">
                Made by
                <a href="https://www.linkedin.com/in/vaishali-aggarwal-aa481a1b7/" target="_blank">Vaishali Aggarwal</a>
                |
                <a href="https://github.com/vaishaliaggarwal413/viashali-project" target="_blank">View source code</a>
            </p>
        </div>
    </div>
</body>

</html>